body {
  font-family: "DM Sans", sans-serif;
}
.site-header {
  background-color: #f5bf37;
  padding: 10px 0;
}
.site-header .site-header-icon {
  color: black;
}
.social-icon {
  display: flex;
  justify-content: end;
  list-style: none;
  margin: auto;
  padding: 5px;
}
.social-icon li {
  margin: 0px 5px;
}
.social-icon li .social-icon-link {
  color: black;
  background: white;
  border-radius: 50%;
  padding: 5px;
}
.navbar {
  z-index: 10;
}
.navbar .navbar-brand {
  font-size: 35px;
  font-weight: 400;
  color: #f5bf37;
}
.navbar-collapse .navbar-nav {
  flex-basis: 60%;
  justify-content: space-around;
}
.navbar-collapse .nav-item .nav-link {
  color: gray;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.navbar-collapse .nav-item .active {
  color: red;
}
.carousel-control-prev,
.carousel-control-next {
  top: auto;
  opacity: 1;
  padding-bottom: 50px;
}
.carousel-control-prev {
  left: auto;
  right: 60px;
}
.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next span {
  width: 60px;
  height: 60px;
}
h2 {
  color: black;
}
.section-padding {
  padding: 120px 0;
}
.section-padding h2 {
  color: black;
  font-size: 35px;
  font-weight: 700;
}
.about-thumb,
.about-image-wrap img {
  border-radius: 20px;
}
.about-thumb h2 {
  font-size: 35px;
}
.about-thumb h2,
h5 {
  font-weight: 700;
  font-family: sans-serif;
}
.about-thumb p,
a {
  color: gray;
  text-decoration: none;
}
.about-thumb {
  padding: 50px;
  margin-bottom: 25px;
}
.about-thumb .custom-bg-primary {
  background-color: #f5bf37;
  color: white;
  border-radius: 30px;
  padding: 10px 25px;
}
.about-image-wrap {
  position: relative;
}
.about-image-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 40px;
}
.about-image-info h4 {
  font-size: 30px;
}
.about-image-info p {
  font-size: 18px;
}
.tab-pane p,
.tab-pane ul {
  color: gray;
}
.nav-tabs {
  border-bottom: unset;
}
.nav-tabs .nav-link {
  text-align: left;
  padding: 35px 25px;
  margin-bottom: 35px;
  border-width: 0px 0px 0px 7px;
  border-left-color: gray;
}
.nav-tabs .nav-link h3 {
  color: black;
}
.nav-tabs .nav-link span {
  color: gray;
}
.nav-tabs .nav-link:hover {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  background-color: white;
  border-left-color: red;
}
.nav-tabs .nav-link:hover h3 {
  color: #f5bf37;
}
.nav-tabs .nav-link.active {
  border-left-color: red;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.nav-tabs .active h3 {
  color: #f5bf37;
}
.services {
  background-color: #f5f5f5;
}
.projects-thumb {
  position: relative;
}
.projects-thumb img {
  border-radius: 15px;
}
.projects-title-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 25px 25px 10px 25px;
}
.projects-title-wrap .projects-small-title {
  color: #f5bf37;
  position: relative;
}
.projects-title-wrap h2 {
  color: white;
  font-size: 40px;
}
.projects-thumb .projects-btn-wrap .custom-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #dd4245;
  border-radius: 50%;
  color: white;
  margin: 40px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 13px;
}
.projects-thumb .projects-btn-wrap .custom-btn:hover {
  background-color: #f5bf37;
}
.projects-thumb .projects-btn-wrap .custom-btn i {
  font-size: 30px;
}
.projects-thumb .projects-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.site-footer, 
.contact-container-wrap,
.contact-form input,
.contact-form textarea{
  background-color: #f9c239;
}
.contact-form input,
.contact-form textarea {
  border-width: 0 0 3px 0;
  border-bottom-color: white;
  border-radius: unset;
}
.contact-form input:hover,
.contact-form textarea:hover {
  background-color: white;
}
.contact-form h2 {
  font-size: 40px;
}
.contact-form textarea {
  margin-top: 25px;
}

.contact-form button {
  background-color: #dd4245;
  color: white;
  border-color: #dd4245;
  font-weight: 700;
  border-radius: 25px;
  margin-top: 20px;
  padding: 10px 0;
}
.contact-thumb {
  position: relative;
  bottom: 140px;
}
.contact-thumb .contact-info {
  padding: 30px;
  border-radius: 20px;
}


.contact-thumb .contact-info, iframe {
  border-radius: 20px;

}



.contact-thumb .contact-info h4,
.contact-thumb .contact-info a i {
  font-size: 30px;
  font-weight: 700;
}

.contact-thumb .contact-info a i {
  color: #f5bf37;
}

.site-footer {
  padding: 40px 0;
}

.site-footer-wrap p, .copyright-text {
  color: white;
}


